<h6>Registro de Voluntario</h6>

<form [formGroup]="addForm">

  <!-- Nombre del Cliente -->
  <mat-form-field appearance="fill">
    <mat-label>Nombre del Cliente</mat-label>
    <input matInput formControlName="clientName" required>
    <mat-error *ngIf="addForm.get('clientName')?.hasError('required')">Este campo es obligatorio</mat-error>
  </mat-form-field>

    <!-- Fecha de Alquiler -->
    <mat-form-field>
      <mat-label>Fecha de Alquiler</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="rentDate" required>
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="addForm.get('rentDate')?.hasError('required')">Este campo es obligatorio</mat-error>
    </mat-form-field>

  <!-- Días de Alquiler -->
  <mat-form-field appearance="fill">
    <mat-label>Días de Alquiler</mat-label>
    <input matInput type="number" formControlName="rentDays" required min="1">
    <mat-error *ngIf="addForm.get('rentDays')?.hasError('required')">Este campo es obligatorio</mat-error>
    <mat-error *ngIf="addForm.get('rentDays')?.hasError('min')">Debe ser al menos 1 día</mat-error>
  </mat-form-field>

  <!-- Precio por Día -->
  <mat-form-field appearance="fill">
    <mat-label>Precio por Día</mat-label>
    <input matInput type="number" formControlName="pricePerDay" required min="0">
    <mat-error *ngIf="addForm.get('pricePerDay')?.hasError('required')">Este campo es obligatorio</mat-error>
    <mat-error *ngIf="addForm.get('pricePerDay')?.hasError('min')">Debe ser un valor positivo</mat-error>
  </mat-form-field>

  <!-- Tiene Seguro o no -->
  <mat-radio-group formControlName="insurance">
    <mat-label>¿Incluir Seguro?</mat-label>
    <mat-radio-button [value]="true">Sí</mat-radio-button>
    <mat-radio-button [value]="false">No</mat-radio-button>
    <mat-error *ngIf="addForm.get('insurance')?.hasError('required')">Este campo es obligatorio</mat-error>
  </mat-radio-group>

  <!-- Botones de Acción -->
  <div class="action-buttons">
    <button mat-raised-button color="primary" (click)="RegistrarVolunteer()" [disabled]="addForm.invalid">Grabar</button>
    <button mat-raised-button color="warn" (click)="onCancel()">Cancelar</button>
  </div>
</form>
