<mat-toolbar class="custom-toolbar">
    <!-- Enlace en el ícono de reciclaje -->
    <a routerLink="/home" style="text-decoration: none; color: inherit;">
      <mat-icon>recycling</mat-icon>
    </a>
  
    <!-- Enlace en el título -->
    <a routerLink="/home" style="text-decoration: none; color: inherit;">
      <span>Bienvenido a RecycleXpert</span>
    </a>
  
    <span class="spacer"></span>

    <button routerLink="/home" *ngIf="usuarioLogeado()"><mat-icon>home</mat-icon></button>

    <button (click)="logout()" *ngIf="usuarioLogeado()"><mat-icon>logout</mat-icon></button>

    <button mat-button (click)="logout()" *ngIf="usuarioLogeado()">
      <mat-icon>logout</mat-icon>
      Cerrar Sesión
    </button>
  </mat-toolbar>
  