<mat-toolbar class="custom-toolbar">
  <mat-icon>recycling</mat-icon>
  <span>Bienvenido a RecycleXpert</span>

  <span class="spacer"></span>

  <button mat-button routerLink="/register-volunteer">
    <mat-icon>person_add</mat-icon>
    Registro de Voluntario
  </button>
  <button mat-button routerLink="/event-register">
    <mat-icon>event</mat-icon>
    Eventos
  </button>
  <button mat-button routerLink="/consultation">
    <mat-icon>search</mat-icon>
    Consultas
  </button>
  <button mat-button routerLink="/logout">
    <mat-icon>logout</mat-icon>
    Cerrar Sesión
  </button>
</mat-toolbar>
